IMPORT NECCESARY PACKAGES

In [19]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB

INITIALIZE M1, M2, COV1 AND COV2 (GIVEN)

In [2]:
m1= [0,0,0,0,0] 
m2=[1,1,1,1,1]
cov1=[[0.8,0.2,0.1,0.05,0.01],[0.2,0.7,0.1,0.03,0.02],[0.1,0.1,0.8,0.02,0.01],[0.05,0.03,0.02,0.9,0.01],[0.01,0.02,0.01,0.01,0.8]]
cov2=[[0.9,0.1,0.05,0.02,0.01],[0.1,0.8,0.1,0.02,0.02],[0.05,0.1,0.7,0.02,0.01],[0.02,0.02,0.02,0.6,0.02],[0.01,0.02,0.01,0.02,0.7]]

GENERATE 5 DIMENSIONAL GUASSIAN VECTOR FROM M1, COV1 AND M2 ,COV2

In [3]:

a,b,c,d,e = np.random.multivariate_normal(m1, cov1, 25).T
a1,b1,c1,d1,e1 =np.random.multivariate_normal(m2, cov2, 25).T

CREATE 2 LIST THAT CONTAINS LABEL OF CLASS, HERE WE ARE TAKING 25 W1 AND 25 W2

In [4]:
class_label=["w1"]*25
class_label2=["w2"]*25

CREATE 2 DATAFRAME DF AND DF_1 THAT CONTAINS DATA OF 5 DIMENSIONAL GUASSIAN VECTOR CREATED BY M1,COV1 AND M2,COV2 RESPECTIVELY

In [40]:
df = pd.DataFrame([a,b,c,d,e,class_label],index=["1","2","3","4","5","class"]).T
df_1=pd.DataFrame([a1,b1,c1,d1,e1,class_label2],index=["1","2","3","4","5","class"]).T

FIND MEAN AND VARIANCE OF DF AND DF_1

In [41]:
w1_mean=df.mean()
w2_mean=df_1.mean()
w1_var=df.var()
w2_var=df_1.var()

m AND v ARE LIST THAT CONTAINING MEAN AND VARIANCE OF FEATURES OF EACH CLASS RESP

In [42]:
m=[list(w1_mean),list(w2_mean)]
v=[list(w1_var),list(w2_var)]

FOR EASIER IMPLEMENTATION CLASS ATTRIBUTE IS SET TO INDEX OF DATAFRAME

In [8]:
df.set_index('class',inplace=True)
df_1.set_index('class',inplace=True)

COMBINE DATAFRAME DF AND DF_1 TO X1 I.E, TRAINING DATA

In [43]:
frame=[df,df_1]
X1=pd.concat(frame)
X1

             1         2         3         4         5 class
0    -0.693153   1.60423 -0.623316   1.00269 -0.187381    w1
1    0.0943527  0.276034   0.16686  0.934778  0.583166    w1
2      -1.5278  -1.24848  -1.78733  -2.27042  0.297115    w1
3    -0.105223  -0.90496  -2.37513  0.235936  0.333362    w1
4     -0.27142   1.00591  -1.14441   2.29967   1.76456    w1
..         ...       ...       ...       ...       ...   ...
495       None      None      None      None      None    w2
496       None      None      None      None      None    w2
497       None      None      None      None      None    w2
498       None      None      None      None      None    w2
499       None      None      None      None      None    w2

[1000 rows x 6 columns]

FOR EASIER IMPLEMENTATION TRAINING DATA IS FURTHER DIVIDED INTO 2 LIST, ONE CONTAINING ONLY CLASS ATTRIBUTE AND OTHER CONTAINING ALL ATTRIBUTES EXCEPT CLASS

In [46]:
X_train = np.array(X1.iloc[:,[0,1,2,3,4]])
y_train = np.array(X1.index)

FOR EASIER IMPLEMENTATION W1 CLASS IS ASSIGNED AS 0 AND W2 AS 1

In [11]:
for i in range(len(y_train)):
    if y_train[i] == "w1":
        y_train[i] = 0
    else:
        y_train[i] = 1

CREATE TEST DATA X2 CONTAINING 1000 UNITS USING SAME PROCESS WHICH IS EXPLAINED BY ABOVE STEPS

In [12]:
a2,b2,c2,d2,e2 = np.random.multivariate_normal(m1, cov1, 500).T
a3,b3,c3,d3,e3 =np.random.multivariate_normal(m2, cov2, 500).T
class_label=["w1"]*500
class_label2=["w2"]*500

In [13]:
df1 = pd.DataFrame([a2,b2,c2,d2,e2,class_label],index=["1","2","3","4","5","class"]).T
df1_1=pd.DataFrame([a3,b3,c3,d3,e3,class_label2],index=["1","2","3","4","5","class"]).T

In [14]:
df1.set_index('class',inplace=True)
df1_1.set_index('class',inplace=True)

In [15]:
frame=[df1,df1_1]
X2=pd.concat(frame)
X2

               1         2         3         4         5
class
w1     -0.645036 -0.601904  0.136972  -1.05276  -1.13363
w1      -2.02275  -1.84896 -0.115271  0.443552  0.728615
w1      -1.15859  -1.99205 -0.471137  0.962656   1.43219
w1     -0.457958   1.90109  -0.21197   1.08542   0.44672
w1       1.08701  0.323163  0.247592  0.209802  0.537687
...          ...       ...       ...       ...       ...
w2      0.733458  0.648167   1.24997   1.49223   0.31381
w2    -0.0581606   1.69168  0.429834    0.8481 -0.545159
w2       1.33245   1.46549  0.425027   1.26414   0.52847
w2      0.757297   1.58401  0.181548   1.38779  0.941537
w2      0.411546  0.671793  0.960596  0.933608  0.502396

[1000 rows x 5 columns]

EXTRACT CLASS ATTRIBUTE FROM X2 AND ASSIGN IT TO TEST_CLASS

In [16]:
test_class = list(X2.index)

EXTRACT ALL FEATURES EXCEPT CLASS LABEL FROM X2 AND ASSIGN IT TO TEST_LIST

In [17]:
test_list = []
for index, rows in X2.iterrows():
    my_list =[rows["1"],rows["2"],rows["3"],rows["4"],rows["5"]]       
    test_list.append(my_list)

CONVERTING TEST_LIST INTO NUMPY ARRAY x

In [18]:
x=np.array(test_list)

FUNCTION THAT CALCULATES PRIOR PROBABILITIES OF THE CLASSES

In [306]:
def pre_prob(y):
    pre_probab=[]
    count_w1,count_w2=0,0
    for i in range(len(y_train)):
        if y_train[i] == 0:
            count_w1=count_w1+1;
        else:
            count_w2=count_w2+1
    pre_probab.append(count_w1/len(y_train))
    pre_probab.append(count_w2/len(y_train))
    return pre_probab

POSTERIER PROBABILITIES OF THE TEST DATA GIVEN EACH OF THE CLASSES

In [320]:
def prob_feature_class(m, v, x):  
    pfc=[]
    for i in range(2):
        product = 1
        for j in range(5):
            sub1 =  np.sqrt(2*3.14*v[i][j])
            sub3= np.square(x[j] - m[i][j])
            sub2 = np.exp((-0.5*sub3)/v[i][j])
            product = product * (1/sub1) *sub2
        pfc.append(product)
    return pfc

 GAUSSIAN NAIVE BAYES FOR COMPUTING CONDITIONAL PROBABILITY OF EACH OF THE CLASSES GIVEN THE TEST INSTANCE x[i]

In [321]:
def GNB(X, y, x):  
    pfc = prob_feature_class(m, v, x)
    pre_probab = pre_prob(y)
    pcf = []
    total_prob = 0
    for i in range(2):
        total_prob = total_prob + (pfc[i] * pre_probab[i])
    for i in range(2):
        tmp=(pfc[i] * pre_probab[i])/total_prob
        pcf.append(tmp)
    prediction = pcf.index(max(pcf))
    return  prediction

APPLY GNB FOR EACH OF THE TEST DATA x

In [322]:
predict_class=[]
for i in range(len(x)):
     predict_class.append(GNB(X_train, y_train, x[i]))

CONVERTING BACK 0 TO w1 AND 1 TO w2

In [323]:
for i in range(len(predict_class)):
    if predict_class[i] == 0:
           predict_class[i] = "w1"
    else:
           predict_class[i]  = "w2"

COMPUTE THE ERROR RATE OF THIS CLASSIFICATION

In [324]:
length=len(predict_class)
err_count=0
for i in range(length):
    if predict_class[i] != test_class[i]:
        err_count=err_count+1
        
err_rate=err_count/length
print("Error rate of this classification is",err_rate)
print("That is out of",length,"test data",err_count,"test data is wrongly classified")

Error rate of this classification is 0.148
That is out of 1000 test data 148 test data is wrongly classified