IMPORT NECCESARY PACKAGES

In [1]:
import pandas as pd
import numpy as np

INITIALIZE MEAN1, MEAN2, COV (GIVEN)

In [2]:
mean1 = [0,0]
mean2 = [1,2]
cov = [[0.8,0.2],[0.2,0.8]]

GENERATE 2 DIMENSIONAL GUASSIAN VECTOR FROM MEAN1, COV AND MEAN2 ,COV

In [3]:
x1_1, y1_1 = np.random.multivariate_normal(mean1, cov, 500).T
x2_1,y2_1 =np.random.multivariate_normal(mean2, cov, 500).T

CREATE 2 LIST THAT CONTAINS LABEL OF CLASS, HERE WE ARE TAKING 500 W1 AND 500 W2

In [4]:
class_label=["w1"]*500
class_label2=["w2"]*500

CREATE 2 DATAFRAME DF AND DF2 THAT CONTAINS DATA OF 2 DIMENSIONAL GUASSIAN VECTOR CREATED BY MEAN1, COV AND MEAN2 ,COV RESPECTIVELY

In [5]:
df = pd.DataFrame([x1_1,y1_1,class_label],index=["x-cordinate","y-cordinate","class"]).T
df2 = pd.DataFrame([x2_1,y2_1,class_label2],index=["x-cordinate","y-cordinate","class"]).T

FOR EASIER IMPLEMENTATION CLASS ATTRIBUTE IS SET TO INDEX OF DATAFRAME

In [6]:
df.set_index('class',inplace=True)
df2.set_index('class',inplace=True)

COMBINE DATAFRAME DF AND DF2 TO X1 I.E, TRAINING DATA

In [7]:
frame=[df,df2]
X1=pd.concat(frame)
X1

      x-cordinate y-cordinate
class
w1       0.531685    0.187723
w1       0.724399   -0.639789
w1       -1.77223    -1.14028
w1      -0.992228   -0.649233
w1       0.510632   -0.154128
...           ...         ...
w2        1.65205     3.98171
w2       -1.17271     1.23793
w2        1.81716     1.25874
w2        2.48231     2.54597
w2        1.25379     1.69863

[1000 rows x 2 columns]

CREATE TEST DATA X2 CONTAINING 5000 UNITS USING SAME PROCESS WHICH IS EXPLAINED BY ABOVE STEPS

In [8]:
x1_2, y1_2 = np.random.multivariate_normal(mean1, cov, 2500).T
x2_2,y2_2 =np.random.multivariate_normal(mean2, cov, 2500).T

In [9]:
class_label=["w1"]*2500
class_label2=["w2"]*2500

In [10]:
df_1 = pd.DataFrame([x1_2,y1_2,class_label],index=["xcordinate","ycordinate","class"]).T

In [11]:
df_1.set_index('class',inplace=True)

In [12]:
df2_1 = pd.DataFrame([x2_2,y2_2,class_label2],index=["xcordinate","ycordinate","class"]).T

In [13]:
df2_1.set_index('class',inplace=True)

In [14]:
frame=[df_1,df2_1]
X2=pd.concat(frame)
X2

      xcordinate ycordinate
class
w1     -0.234797  -0.647468
w1     -0.551399  0.0774913
w1     -0.817795  0.0304477
w1       0.81067   0.362171
w1     -0.474285   0.267534
...          ...        ...
w2      0.298994    1.90076
w2       2.09469    1.24901
w2      -0.46888    2.32068
w2       0.37996    2.24545
w2      0.746769    1.37629

[5000 rows x 2 columns]

EXTRACT CLASS ATTRIBUTE FROM X2 AND ASSIGN IT TO TEST_CLASS

In [15]:
test_class = list(X2.index)

EXTRACT ALL FEATURES EXCEPT CLASS LABEL FROM X2 AND ASSIGN IT TO TEST_LIST

In [107]:
test_list = []
for index, rows in X2.iterrows():
    my_list =[rows.xcordinate, rows.ycordinate]       
    test_list.append(my_list)

FUNCTION THAT COMPUTE EUCLIDEAN DISTANCE BETWEEN 2 POINTS

In [86]:
def euclideanDistance(data_1, data_2):
    dist = 0
    for i in range(1):
        dist = dist + np.square(data_1[i] - data_2[i])
    return np.sqrt(dist),data_2.name

COMPUTE EUCLIDEAN DISTANCE BETWEEN EACH TEST DATA AND TRAIN DATA

In [151]:
test_length = len(test_list)
train_length=len(X1)
distance=[]
label=[]
for i in range(test_length):
    for j in range(train_length):
            distance.append(euclideanDistance(test_list[i],X1.iloc[j]))
    label.append(min(distance)[1])

COMPUTE THE ERROR RATE OF THIS CLASSIFICATION

In [154]:
length=len(label)
err_count=0
for i in range(length):
    if label[i] != test_class[i]:
        err_count=err_count+1
        
err_rate=err_count/length
print("Error rate of this classification is",err_rate)
print("That is out of",length,"test data",err_count,"test data is wrongly classified")

Error rate of this classification is 0.4926
That is out of 5000 test data 2463 test data is wrongly classified